<!DOCTYPE html>
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Your Survey</title>

  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>

</head>
<body>

<!-- Navbar -->

  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">

    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('survey_page') }}" class="w3-bar-item w3-button w3-padding-large w3-blue">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-blue">About Us</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-blue">Your Rights</a>

  </div>


  <div class="w3-padding-large">

 <div class="w3-row-padding w3-padding-16 w3-center">

        <div class="w3-third w3-left-align w3-padding-16">
            <img src="/static/images/globe.png" width='100px'/>
        </div>
        <div class=w3-two-third w3-left-align w3-padding-16">
            <h1 class="w3-text-grey w3-padding-16">Depression Anxiety Stress Scales (DASS)
          <BR><font style="color:#27AE60; font-size: small;">This test will be used to determine if you're likely to have depression or anxiety.</font></h1>
        </div>


  {{message}}

    <form action="{{ url_for('survey_page')}}" id="survey_page" method="POST">

      <H3>Please rank your answers according to the following scale.</H3>
      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-padding-large">
          <label for="text"><b><font style="color:#40B5AD; font-size: large;">1 - Did not apply to me at all</font></b></label><BR>
          <label for="text"><b><font style="color:#40B5AD; font-size: large;">2 - Applied to me to some degree, or some of the time</font></b></label><BR>
          <label for="text"><b><font style="color:#40B5AD; font-size: large;">3 - Applied to me to a considerable degree, or a good part of time</font></b></label><BR>
          <label for="text"><b><font style="color:#40B5AD; font-size: large;">4 - Applied to me very much, or most of the time</font></b></label><BR>
        </div>
      </div>

      <!--<div class="w3-row-padding w3-padding-16 w3-center">-->
      <!--  <div class="w3-half w3-left-align w3-padding-16">-->
      <!--    <label for="are_you_happy"><b><font style="color:#27AE60; font-size: large;">Are you happy?</font></b></label><br>-->

      <!--    <SELECT class="w3-button w3-blue w3-padding-large w3-large w3-margin-top" name="are_you_happy">-->
      <!--      <option value="{{are_you_happy}}" selected>{{are_you_happy}}</option> ">-->
      <!--      <option value="very_happy">Very</option>-->
      <!--      <option value="Somewhat_happy">Somewhat</option>-->
      <!--      <option value="Neutral_happy">Not sure</option>-->
      <!--      <option value="Not_very_happy">Not very</option>-->
      <!--      <option value="Not_happy_at_all">Not at all</option>-->
      <!--    </SELECT>-->
      <!--  </div>-->

      <!--  <div class="w3-half w3-left-align w3-padding-16">-->
      <!--    <label for="recommend_this_to"><b><font style="color:#27AE60; font-size: large;">Who would you recommend <br>this survey to (multiple answers OK)?</font></b><BR>-->

      <!--    <input type="checkbox" name='recommend_this_to' value='Family' {{Family_checked}}>-->
      <!--    <label for="Family"> Your family</label><br>-->
      <!--    <input type="checkbox" name='recommend_this_to' value="Friends" {{Friends_checked}}>-->
      <!--    <label for="Friends"> Your friends</label><br>-->
      <!--    <input type="checkbox" name='recommend_this_to' value="Colleagues" {{Colleagues_checked}}>-->
      <!--    <label for="Colleagues"> Your colleagues</label><br><br>-->
      <!--  </div>-->
      <!--</div>-->



      <!--<div class="w3-row-padding w3-padding-16 w3-center">-->
      <!--  <div class="w3-padding-large">-->
      <!--    <label for="text"><b><font style="color:#27AE60; font-size: large;">Tells us more:</font></b></label><BR>-->
      <!--    <textarea name="tell_us_more" rows="4" cols="30">{{tell_us_more}}-->
      <!--    </textarea>-->
      <!--  </div>-->
      <!--</div>-->


      <!--<H3>About you:</H3>-->

      <!--<div class="w3-row-padding w3-padding-16 w3-center">-->
      <!--  <div class="w3-half w3-left-align w3-padding-16">-->
      <!--    <label for="first_name"><b><font style="color:#27AE60; font-size: large;">First name:</font></b><label><br>-->
      <!--    <input type="text" name="first_name" value="{{first_name}}" required>-->
      <!--  </div>-->

      <!--  <div class="w3-half w3-left-align">-->
      <!--    <label for="last_name"><b><font style="color:#27AE60; font-size: large;">Last name:</font></b></label><br>-->
      <!--    <input type="text" name="last_name" value="{{last_name}}" required>-->
      <!--  </div>-->
      <!--</div>-->


      <!--<div class="w3-row-padding w3-padding-16 w3-center">-->
      <!--  <div class="w3-half w3-left-align w3-padding-16">-->
      <!--  <label for="email"><b><font style="color:#27AE60; font-size: large;">Email:</font></b></label><br>-->
      <!--  <input type="email" name="email" value="{{email}}">-->
      <!--</div>-->

      <!--<div class="w3-half w3-left-align w3-padding-16">-->
      <!--  <label for="date_of_birth"><b><font style="color:#27AE60; font-size: large;">Date of birth:</font></b></label><br>-->
      <!--  <input type="date" name="date_of_birth">-->
      <!-- </div>-->
      <!--</div>-->

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question1"><b><font style="color:#27AE60; font-size: large;">Question 1: I found myself getting upset by quite trivial things.</font></b></label><br>
          <input required type="radio" name="question1" value="1"> 1</input><br>
          <input type="radio" name="question1" value="2"> 2</input><br>
          <input type="radio" name="question1" value="3"> 3</input><br>
          <input type="radio" name="question1" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question2"><b><font style="color:#27AE60; font-size: large;">Question 2: I was aware of dryness of my mouth.</font></b></label><br>
          <input required type="radio" name="question2" value="1"> 1</input><br>
          <input type="radio" name="question2" value="2"> 2</input><br>
          <input type="radio" name="question2" value="3"> 3</input><br>
          <input type="radio" name="question2" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question3"><b><font style="color:#27AE60; font-size: large;">Question 3: I couldn't seem to experience any positive feeling at all.</font></b></label><br>
          <input required type="radio" name="question3" value="1"> 1</input><br>
          <input type="radio" name="question3" value="2"> 2</input><br>
          <input type="radio" name="question3" value="3"> 3</input><br>
          <input type="radio" name="question3" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question4"><b><font style="color:#27AE60; font-size: large;">Question 4: I experienced breathing difficulty (eg, excessively rapid breathing, breathlessness in the absence of physical exertion).</font></b></label><br>
          <input required type="radio" name="question4" value="1"> 1</input><br>
          <input type="radio" name="question4" value="2"> 2</input><br>
          <input type="radio" name="question4" value="3"> 3</input><br>
          <input type="radio" name="question4" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question5"><b><font style="color:#27AE60; font-size: large;">Question 5: I just couldn't seem to get going.</font></b></label><br>
          <input required type="radio" name="question5" value="1"> 1</input><br>
          <input type="radio" name="question5" value="2"> 2</input><br>
          <input type="radio" name="question5" value="3"> 3</input><br>
          <input type="radio" name="question5" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question6"><b><font style="color:#27AE60; font-size: large;">Question 6: I tended to over-react to situations.</font></b></label><br>
          <input required type="radio" name="question6" value="1"> 1</input><br>
          <input type="radio" name="question6" value="2"> 2</input><br>
          <input type="radio" name="question6" value="3"> 3</input><br>
          <input type="radio" name="question6" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question7"><b><font style="color:#27AE60; font-size: large;">Question 7: I had a feeling of shakiness (eg, legs going to give way).</font></b></label><br>
          <input required type="radio" name="question7" value="1"> 1</input><br>
          <input type="radio" name="question7" value="2"> 2</input><br>
          <input type="radio" name="question7" value="3"> 3</input><br>
          <input type="radio" name="question7" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question8"><b><font style="color:#27AE60; font-size: large;">Question 8: I found it difficult to relax.</font></b></label><br>
          <input required type="radio" name="question8" value="1"> 1</input><br>
          <input type="radio" name="question8" value="2"> 2</input><br>
          <input type="radio" name="question8" value="3"> 3</input><br>
          <input type="radio" name="question8" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question9"><b><font style="color:#27AE60; font-size: large;">Question 9: I found myself in situations that made me so anxious I was most relieved when they ended.</font></b></label><br>
          <input required type="radio" name="question9" value="1"> 1</input><br>
          <input type="radio" name="question9" value="2"> 2</input><br>
          <input type="radio" name="question9" value="3"> 3</input><br>
          <input type="radio" name="question9" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question10"><b><font style="color:#27AE60; font-size: large;">Question 10: I felt that I had nothing to look forward to.</font></b></label><br>
          <input required type="radio" name="question10" value="1"> 1</input><br>
          <input type="radio" name="question10" value="2"> 2</input><br>
          <input type="radio" name="question10" value="3"> 3</input><br>
          <input type="radio" name="question10" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question11"><b><font style="color:#27AE60; font-size: large;">Question 11: I found myself getting upset rather easily.</font></b></label><br>
          <input required type="radio" name="question11" value="1"> 1</input><br>
          <input type="radio" name="question11" value="2"> 2</input><br>
          <input type="radio" name="question11" value="3"> 3</input><br>
          <input type="radio" name="question11" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question12"><b><font style="color:#27AE60; font-size: large;">Question 12: I felt that I was using a lot of nervous energy.</font></b></label><br>
          <input required type="radio" name="question12" value="1"> 1</input><br>
          <input type="radio" name="question12" value="2"> 2</input><br>
          <input type="radio" name="question12" value="3"> 3</input><br>
          <input type="radio" name="question12" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question13"><b><font style="color:#27AE60; font-size: large;">Question 13: I felt sad and depressed.</font></b></label><br>
          <input required type="radio" name="question13" value="1"> 1</input><br>
          <input type="radio" name="question13" value="2"> 2</input><br>
          <input type="radio" name="question13" value="3"> 3</input><br>
          <input type="radio" name="question13" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question14"><b><font style="color:#27AE60; font-size: large;">Question 14: I found myself getting impatient when I was delayed in any way (eg, elevators, traffic lights, being kept waiting).</font></b></label><br>
          <input required type="radio" name="question14" value="1"> 1</input><br>
          <input type="radio" name="question14" value="2"> 2</input><br>
          <input type="radio" name="question14" value="3"> 3</input><br>
          <input type="radio" name="question14" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question15"><b><font style="color:#27AE60; font-size: large;">Question 15: I had a feeling of faintness.</font></b></label><br>
          <input required type="radio" name="question15" value="1"> 1</input><br>
          <input type="radio" name="question15" value="2"> 2</input><br>
          <input type="radio" name="question15" value="3"> 3</input><br>
          <input type="radio" name="question15" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question16"><b><font style="color:#27AE60; font-size: large;">Question 16: I felt that I had lost interest in just about everything.</font></b></label><br>
          <input required type="radio" name="question16" value="1"> 1</input><br>
          <input type="radio" name="question16" value="2"> 2</input><br>
          <input type="radio" name="question16" value="3"> 3</input><br>
          <input type="radio" name="question16" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question17"><b><font style="color:#27AE60; font-size: large;">Question 17: I felt I wasn't worth much as a person.</font></b></label><br>
          <input required type="radio" name="question17" value="1"> 1</input><br>
          <input type="radio" name="question17" value="2"> 2</input><br>
          <input type="radio" name="question17" value="3"> 3</input><br>
          <input type="radio" name="question17" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question18"><b><font style="color:#27AE60; font-size: large;">Question 18: I felt that I was rather touchy.</font></b></label><br>
          <input required type="radio" name="question18" value="1"> 1</input><br>
          <input type="radio" name="question18" value="2"> 2</input><br>
          <input type="radio" name="question18" value="3"> 3</input><br>
          <input type="radio" name="question18" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question19"><b><font style="color:#27AE60; font-size: large;">Question 19: I perspired noticeably (eg, hands sweaty) in the absence of high temperatures or physical exertion.</font></b></label><br>
          <input required type="radio" name="question19" value="1"> 1</input><br>
          <input type="radio" name="question19" value="2"> 2</input><br>
          <input type="radio" name="question19" value="3"> 3</input><br>
          <input type="radio" name="question19" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question20"><b><font style="color:#27AE60; font-size: large;">Question 20: I felt scared without any good reason.</font></b></label><br>
          <input required type="radio" name="question20" value="1"> 1</input><br>
          <input type="radio" name="question20" value="2"> 2</input><br>
          <input type="radio" name="question20" value="3"> 3</input><br>
          <input type="radio" name="question20" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question21"><b><font style="color:#27AE60; font-size: large;">Question 21: I felt that life wasn't worthwhile.</font></b></label><br>
          <input required type="radio" name="question21" value="1"> 1</input><br>
          <input type="radio" name="question21" value="2"> 2</input><br>
          <input type="radio" name="question21" value="3"> 3</input><br>
          <input type="radio" name="question21" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question22"><b><font style="color:#27AE60; font-size: large;">Question 22: I found it hard to wind down.</font></b></label><br>
          <input required type="radio" name="question22" value="1"> 1</input><br>
          <input type="radio" name="question22" value="2"> 2</input><br>
          <input type="radio" name="question22" value="3"> 3</input><br>
          <input type="radio" name="question22" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question23"><b><font style="color:#27AE60; font-size: large;">Question 23: I had difficulty in swallowing.</font></b></label><br>
          <input required type="radio" name="question23" value="1"> 1</input><br>
          <input type="radio" name="question23" value="2"> 2</input><br>
          <input type="radio" name="question23" value="3"> 3</input><br>
          <input type="radio" name="question23" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question24"><b><font style="color:#27AE60; font-size: large;">Question 24: I couldn't seem to get any enjoyment out of the things I did.</font></b></label><br>
          <input required type="radio" name="question24" value="1"> 1</input><br>
          <input type="radio" name="question24" value="2"> 2</input><br>
          <input type="radio" name="question24" value="3"> 3</input><br>
          <input type="radio" name="question24" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question25"><b><font style="color:#27AE60; font-size: large;">Question 25: I was aware of the action of my heart in the absence of physical exertion (eg, sense of heart rate increase, heart missing a beat).</font></b></label><br>
          <input required type="radio" name="question25" value="1"> 1</input><br>
          <input type="radio" name="question25" value="2"> 2</input><br>
          <input type="radio" name="question25" value="3"> 3</input><br>
          <input type="radio" name="question25" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question26"><b><font style="color:#27AE60; font-size: large;">Question 26: I felt down-hearted and blue.</font></b></label><br>
          <input required type="radio" name="question26" value="1"> 1</input><br>
          <input type="radio" name="question26" value="2"> 2</input><br>
          <input type="radio" name="question26" value="3"> 3</input><br>
          <input type="radio" name="question26" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question27"><b><font style="color:#27AE60; font-size: large;">Question 27: I found that I was very irritable.</font></b></label><br>
          <input required type="radio" name="question27" value="1"> 1</input><br>
          <input type="radio" name="question27" value="2"> 2</input><br>
          <input type="radio" name="question27" value="3"> 3</input><br>
          <input type="radio" name="question27" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question28"><b><font style="color:#27AE60; font-size: large;">Question 28: I felt I was close to panic.</font></b></label><br>
          <input required type="radio" name="question28" value="1"> 1</input><br>
          <input type="radio" name="question28" value="2"> 2</input><br>
          <input type="radio" name="question28" value="3"> 3</input><br>
          <input type="radio" name="question28" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question29"><b><font style="color:#27AE60; font-size: large;">Question 29: I found it hard to calm down after something upset me.</font></b></label><br>
          <input required type="radio" name="question29" value="1"> 1</input><br>
          <input type="radio" name="question29" value="2"> 2</input><br>
          <input type="radio" name="question29" value="3"> 3</input><br>
          <input type="radio" name="question29" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question30"><b><font style="color:#27AE60; font-size: large;">Question 30: I feared that I would be "thrown" by some trivial but unfamiliar task.</font></b></label><br>
          <input required type="radio" name="question30" value="1"> 1</input><br>
          <input type="radio" name="question30" value="2"> 2</input><br>
          <input type="radio" name="question30" value="3"> 3</input><br>
          <input type="radio" name="question30" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question31"><b><font style="color:#27AE60; font-size: large;">Question 31: I was unable to become enthusiastic about anything.</font></b></label><br>
          <input required type="radio" name="question31" value="1"> 1</input><br>
          <input type="radio" name="question31" value="2"> 2</input><br>
          <input type="radio" name="question31" value="3"> 3</input><br>
          <input type="radio" name="question31" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question32"><b><font style="color:#27AE60; font-size: large;">Question 32: I found it difficult to tolerate interruptions to what I was doing.</font></b></label><br>
          <input required type="radio" name="question32" value="1"> 1</input><br>
          <input type="radio" name="question32" value="2"> 2</input><br>
          <input type="radio" name="question32" value="3"> 3</input><br>
          <input type="radio" name="question32" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question33"><b><font style="color:#27AE60; font-size: large;">Question 33: I was in a state of nervous tension.</font></b></label><br>
          <input required type="radio" name="question33" value="1"> 1</input><br>
          <input type="radio" name="question33" value="2"> 2</input><br>
          <input type="radio" name="question33" value="3"> 3</input><br>
          <input type="radio" name="question33" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question34"><b><font style="color:#27AE60; font-size: large;">Question 34: I felt I was pretty worthless.</font></b></label><br>
          <input required type="radio" name="question34" value="1"> 1</input><br>
          <input type="radio" name="question34" value="2"> 2</input><br>
          <input type="radio" name="question34" value="3"> 3</input><br>
          <input type="radio" name="question34" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question35"><b><font style="color:#27AE60; font-size: large;">Question 35: I was intolerant of anything that kept me from getting on with what I was doing.</font></b></label><br>
          <input required type="radio" name="question35" value="1"> 1</input><br>
          <input type="radio" name="question35" value="2"> 2</input><br>
          <input type="radio" name="question35" value="3"> 3</input><br>
          <input type="radio" name="question35" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question36"><b><font style="color:#27AE60; font-size: large;">Question 36: I felt terrified.</font></b></label><br>
          <input required type="radio" name="question36" value="1"> 1</input><br>
          <input type="radio" name="question36" value="2"> 2</input><br>
          <input type="radio" name="question36" value="3"> 3</input><br>
          <input type="radio" name="question36" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question37"><b><font style="color:#27AE60; font-size: large;">Question 37: I could see nothing in the future to be hopeful about.</font></b></label><br>
          <input required type="radio" name="question37" value="1"> 1</input><br>
          <input type="radio" name="question37" value="2"> 2</input><br>
          <input type="radio" name="question37" value="3"> 3</input><br>
          <input type="radio" name="question37" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question38"><b><font style="color:#27AE60; font-size: large;">Question 38: I felt that life was meaningless.</font></b></label><br>
          <input required type="radio" name="question38" value="1"> 1</input><br>
          <input type="radio" name="question38" value="2"> 2</input><br>
          <input type="radio" name="question38" value="3"> 3</input><br>
          <input type="radio" name="question38" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question39"><b><font style="color:#27AE60; font-size: large;">Question 39: I found myself getting agitated.</font></b></label><br>
          <input required type="radio" name="question39" value="1"> 1</input><br>
          <input type="radio" name="question39" value="2"> 2</input><br>
          <input type="radio" name="question39" value="3"> 3</input><br>
          <input type="radio" name="question39" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question40"><b><font style="color:#27AE60; font-size: large;">Question 40: I was worried about situations in which I might panic and make a fool of myself.</font></b></label><br>
          <input required type="radio" name="question40" value="1"> 1</input><br>
          <input type="radio" name="question40" value="2"> 2</input><br>
          <input type="radio" name="question40" value="3"> 3</input><br>
          <input type="radio" name="question40" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question41"><b><font style="color:#27AE60; font-size: large;">Question 41: I experienced trembling (eg, in the hands).</font></b></label><br>
          <input required type="radio" name="question41" value="1"> 1</input><br>
          <input type="radio" name="question41" value="2"> 2</input><br>
          <input type="radio" name="question41" value="3"> 3</input><br>
          <input type="radio" name="question41" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half w3-left-align w3-padding-16">
          <label for="question42"><b><font style="color:#27AE60; font-size: large;">Question 42: I found it difficult to work up the initiative to do things.</font></b></label><br>
          <input required type="radio" name="question42" value="1"> 1</input><br>
          <input type="radio" name="question42" value="2"> 2</input><br>
          <input type="radio" name="question42" value="3"> 3</input><br>
          <input type="radio" name="question42" value="4"> 4</input>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-16 w3-center">
        <input type="submit" id="submitButton" value="Submit your survey" name="submit"

        class="w3-button w3-blue w3-padding-large w3-large w3-margin-top">
      </div>


  </form>

</div>


<footer class="w3-container w3-teal w3-center w3-margin-top">

  <p>Created by Jaciah Rashid</p>
</footer>

</body>
</html>